<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
	Add a logger config to see logging messages.
	- For more detailed logs, set values to "FINEST"
	- For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html
 -->
    <bean id="LoggerConfig" class="com.springdemo.LoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE" />
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <!-- Define the dependency -->
    <bean id="myFortune" class="com.springdemo.HappyFortuneService"></bean>

    <!-- Define your beans here -->
<!--    <bean id="myCoach"-->
<!--          class="com.springdemo.FootBallCoach">-->
<!--    </bean>-->

    <bean id="myCoach"
          class="com.springdemo.BasketballCoach">

    <!--   set up constructor injection     -->
        <constructor-arg ref = "myFortune"/>

    </bean>

<!--    <bean id="myTrackCoach"-->
<!--          class="com.springdemo.TrackCoach">-->
<!--    </bean>-->

<!--    <bean id="myGolfCoach"-->
<!--          class="com.springdemo.GolfCoach">-->
<!--    </bean>-->
    
</beans>





